@import "@scss-variables";

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: $height-40;
    margin-top: auto;
    border: $border;
    padding: 0 12px;
}
