.fieldset {
    border: none;
    width: calc(100% - 40px);
    margin: 0px;
}

.legend {
    margin: auto;
}

.button-container {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    width: 110%;
}
