@import "@scss-variables";

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    background-color: $black-alpha-60;
}

.content {
    padding: 20px;
    background: $white;
    border-radius: 10px;
}
