@import "@scss-variables";

.container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: $table-body-height;
    border: {
        left: $border;
        right: $border;
    }
    scroll-behavior: smooth;
}

.table {
    border-spacing: 0;

    td {
        padding: 8px 9px;
        border-bottom: $border;

        &:not(:last-child) {
            border-right: $border;
        }
    }

    tr:hover {
        background-color: $blue-alpha-6;
    }
}
