@import "@scss-variables";

.container {
    display: flex;
    flex-direction: column;
    height: $height-500;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    height: $height-40;
    margin-top: auto;
    border: $border;
    padding-right: 12px;
}
