// ---------------- Colors ----------------
$blue-alpha-6: rgba(68, 133, 223, 0.06);
$color-gray: #ccc;

// ---------------- Properties ----------------

$border: 1px solid $color-gray;

// ---------------- Sizes ----------------

$height-40: 40px;
$height-500: 500px;
