// ---------------- Colors ----------------

$blue-alpha-6: rgba(68, 133, 223, 0.06);
$blue-alpha-24: rgba(68, 133, 223, 0.24);
$blue-60: #256bcd;
$blue-70: #0a51b5;
$blue-80: #003c92;
$blue-100: #002855;

$gray-10: #f0f1f3;
$gray-40: #979ca2;
$color-gray: #ccc;

$white: #fff;
$black: #000;
$black-alpha-60: rgba($black, 0.8);

$red: #ed4b3f;

// ---------------- Properties ----------------

$border: 1px solid $color-gray;
$border-blue: 2px solid $blue-100;
$border-red: 2px solid $red;
$border-transparent: 2px solid transparent;

// ---------------- Sizes ----------------

$height-40: 40px;
$height-500: 500px;
$table-body-height: $height-500 - ($height-40 * 3);
